<h1>Willkommen bei submissio</h1>
<p>Ihr Portal zur eifachen Erstellung von Submissionen</p>

<% if current_user == nil %>
	<%= link_to "Login", new_user_session_path, class: "btn btn-primary mb-5" %>
<% else %>
	<script type="text/javascript" src="https://submissio.formstack.com/forms/js.php/dienstleistungen_copy_copy_copy_copy_copy_copy_copy_copy"></script><noscript><a href="https://submissio.formstack.com/forms/dienstleistungen_copy_copy_copy_copy_copy_copy_copy_copy" title="Online Form">Online Form - MASTER Dienstleistungen 201015</a></noscript>
<% end %>
