<h1>Willkommen bei submissio</h1>
<p>Ihr Portal zur eifachen Erstellung von Submissionen</p>

<% if current_user == nil %>
	<%= link_to "Login", new_user_session_path, class: "btn btn-primary mb-5" %>
<% else %>
	<%= link_to "Your submission", '#', class: "btn btn-primary mb-5" %>	
<% end %>